<div *ngIf="document">
    <mat-card class="main-container">
        <div class="doc-container">
            <div>
                <h3>{{document.title}}</h3>
            </div>
            <div class="doc-details-container">
                <div class="doc-content-item">
                    <div>
                        <h4>{{document.authors.join(', ')}}</h4>
                    </div>  
                    <mat-divider class="divider"></mat-divider>
                    <div>
                        <p>Abstract</p>
                        <p>{{document.abstract}}</p>
                    </div>
                    <mat-card class="card">
                        <mat-card-header>
                            Keywords
                        </mat-card-header>
                        <mat-card-content>
                            <mat-chip-set>
                                <div *ngFor="let keyword of document.keywords" [ngSwitch]="this.keywordUpdateStatus(keyword)">
                                    <mat-chip class="chip">
                                        {{this.extractValueInPublicationLanguage(keyword).value}}
                                        <span *ngIf="this.isLoggedIn()">
                                            <button matChipRemove *ngSwitchCase="0" (click)="this.upvoteKeyword(keyword)">
                                                <mat-icon>thumb_up</mat-icon>
                                            </button>
                                            <button matChipRemove *ngSwitchCase="0" (click)="this.downvoteKeyword(keyword)">
                                                <mat-icon>thumb_down</mat-icon>
                                            </button>
                                            <button matChipRemove *ngSwitchCase="-1" (click)="this.rollbackDownvoteKeyword(keyword)">
                                                <mat-icon color="warn">thumb_down</mat-icon>
                                            </button>
                                            <button matChipRemove *ngSwitchCase="1" (click)="this.rollbackUpvoteKeyword(keyword)">
                                                <mat-icon color="accent">thumb_up</mat-icon>
                                            </button>
                                        </span>
                                    </mat-chip>
                                </div>
                            </mat-chip-set>
                            <mat-error *ngIf="this.errorMessage !== ''">
                                {{this.errorMessage}}
                            </mat-error>
                        </mat-card-content>
                    </mat-card>
                </div>
                <mat-card class="doc-atributes-item card">
                    <mat-card-header>
                        Details
                    </mat-card-header>
                    <mat-card-content>
                        <p>Issued: {{document.issued}}</p>
                        <mat-divider class="divider"></mat-divider>
                        <p>Language: {{document.language}}</p>
                        <mat-divider class="divider"></mat-divider>
                        <p>DOI: {{document.doi}}</p>
                        <mat-divider class="divider"></mat-divider>
                        <p>ID: {{document.publication_id}}</p>
                        <mat-divider class="divider"></mat-divider>
                        <div *ngFor="let attribute of document.additional_attributes">
                            <p>
                                {{attribute.name}}: {{attribute.value}}
                            </p>
                            <mat-divider class="divider"></mat-divider>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card>
</div>
