<div class="years-filter">
    <p>Publication year</p>
    <mat-slider 
    #slider
    min="{{this.firstYear}}" 
    max="{{this.currentYear}}"
    discrete
    [displayWith]="formatLabel" 
    class="year-slider" 
    color="accent">
        <input matSliderStartThumb [(ngModel)]="minValue" (dragEnd)="valueChanged()">
        <input matSliderEndThumb [(ngModel)]="maxValue" (dragEnd)="valueChanged()">
    </mat-slider>
    <p *ngIf="this.gotErrorResponse" class="error-msg-text">{{this.ERROR_MSG}}</p>
</div>