<mat-form-field class="input-full-width" appearance="fill">
  <mat-label>Keywords...</mat-label>
  <mat-chip-grid #chipList aria-label="Keywords">
    <mat-chip
      *ngFor="let keyword of getSelectedKeywords()"
      (removed)="remove(keyword)">
      {{keyword.value}}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      placeholder='Search for Keyword: e.g. "Herstellung"'
      #keywordInput
      [formControl]="keywordControl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
      (keydown)="this.keydown($event)">
  </mat-chip-grid>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let keyword of getFilteredKeywords()" [value]="keyword">
      {{keyword.value}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
<mat-error *ngIf="this.deleteLastKeyword" class="bottom-margin">Press backspace again to remove the last keyword.</mat-error>