<mat-toolbar class="toolbar-footer">
    <mat-toolbar-row class="flex-space-between">
        <div class="footer-element">
            <span>wbk - Institute of Production Science</span>
        </div>
        <span class="footer-element">Sci Graph - Keyword based information retrieval</span>
        <div class="footer-element">
            <button mat-icon-button onclick="location.href='https://github.com/daniel-gomm/sci-graph'">
                <fa-icon [icon]="faGithub"></fa-icon>
            </button>
        </div>
    </mat-toolbar-row>
</mat-toolbar>