.filter-pane {
    float: left;
}

.centered-spinner {
    margin: auto;
}

.header-align .mat-expansion-panel-header-description {
    justify-content: space-between;
    align-items: center;
}

.headers-align .mat-mdc-form-field + .mat-mdc-form-field {
    margin-left: 8px;
  }