<div>
    <p>Filters</p>
    <app-years-filter (filterChangedEvent)="enableReload()"></app-years-filter>
    <p>Attributes</p>
    <div *ngIf="attributesLoaded">
        <mat-accordion multi="true" class="header-align">
            <app-attribute-filter 
            *ngFor="let attribute of attributes" 
            [attribute]="attribute"
            (filterChangedEvent)="enableReload()"></app-attribute-filter>
        </mat-accordion>
    </div>
    <mat-spinner *ngIf="!attributesLoaded && !loadingError" color="accent" class="centered-spinner"></mat-spinner>
    <p class="error-msg-text" *ngIf="loadingError">Failed to load Attributes.</p>
    <div class="right-side-content">
        <button 
        class="small-vertical-margin"
        mat-raised-button 
        color="accent" 
        [disabled]="reloadButtonDisabled"
        (click)="reload()"
        >
            Reload results
            <mat-icon>replay</mat-icon>
        </button>
    </div>
</div>