<div>
    <h3>Search existing publications</h3>
    <mat-form-field appearance="fill" class="search-input">
        <mat-label>Search for publication by title</mat-label>
        <input matInput type="text" [(ngModel)]="inputValue" (keyup.enter)="search()">
    </mat-form-field>
    <div
        infinite-scroll
        [infiniteScrollDistance]="2"
        [infiniteScrollThrottle]="1000"
        (scrolled)="onScroll()"
        >
        <mat-card *ngFor="let documentTitle of documentTitles" class="spaced-card">
            <div class="card-content-container">
                <h3>{{documentTitle.title}}</h3>
                <div class="button-container">
                    <button 
                    mat-flat-button
                    color="accent"
                    class="small-margin"
                    (click)="showNotImplemented()"
                    >
                        Edit
                    </button>
                    <button
                    mat-flat-button
                    color="accent"
                    class="small-margin"
                    (click)="showNotImplemented()"
                    >
                        Delete
                    </button>
                </div>
            </div>
        </mat-card>

        <div *ngIf="this.loadingDocuments">
            <mat-progress-bar mode="indeterminate" color="accent"></mat-progress-bar>
        </div>
        <mat-error *ngIf="this.lastResultSize === 0" class="small-margin">
            All {{this.documentTitles.length}} results loaded
        </mat-error>
    </div>
    
</div>