<div *ngIf="languages$ | async as languages" class="keyword-dialog">
    <h1 mat-dialog-title>Add Keyword</h1>
    <mat-dialog-content >
        <form class="input-container">
            <mat-form-field class="input-full-width" appearance="fill">
                <mat-label>Keywords...</mat-label>
                    <input
                    type="text"
                    placeholder='Search for Keyword: e.g. "Herstellung"'
                    #keywordInput
                    matInput
                    [formControl]="inputControl"
                    [matAutocomplete]="auto"
                    (keydown)="this.keydown($event)">
                <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectKeyword($event)">
                    <mat-option *ngFor="let keyword of getFilteredKeywords()" [value]="keyword">
                    {{keyword.value}}
                    </mat-option>
                </mat-autocomplete>
                <mat-progress-bar *ngIf="this.loading" mode="indeterminate">
                </mat-progress-bar>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Language</mat-label>
                <mat-select #languageSelect [(value)]="this.selectedLanguage" [disabled]="this.languageSelectDiabled">
                    <mat-option *ngFor="let language in this.languages" value="language">{{language}}</mat-option>
                </mat-select>
            </mat-form-field>
            <div *ngIf="keywordInput.disabled" appearance="fill">
                <mat-form-field *ngFor="let language in filterLanguages()">
                    <mat-label>Enter tranlation in {{language}}</mat-label>
                    <input
                    placeholder='Keyword'
                    #translationInput
                    (keydown)="this.languageValueMap.set(language, translationInput.value)"
                    >
                </mat-form-field>
            </div>
        </form>
        <!-- <mat-error *ngIf="errorMessage.length > 0">{{errorMessage}}</mat-error> -->
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button mat-flat-button (click)="add()" color="accent">Add</button>
        <button mat-flat-button (click)="cancel()" color="accent">Cancel</button>
    </mat-dialog-actions>
</div>