
.result-card {
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    width: 100%;
    padding: 10px;
}

.assigned-chip {
    color: var(--accent-darker-color);
    background-color: var(--accent-color)
}

.cursor-hand {
    cursor: pointer;
}