.spaced-card {
    margin: 10px;
    overflow-y: auto;
    width: 300px;
}

.card-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.centered-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.main-container {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.create-user-button {
    margin: 30px
}