@import "../../node_modules/nord/src/sass/nord.scss";

.main-container {
    margin:0;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.page-wrap {
    min-height: 100%;
    /* equal to footer height */
    margin-bottom: -75px; 
}

.page-wrap:after {
    content: "";
    display: block;
}

.site-footer, .page-wrap:after {
    height: 75px;
}