@import "../node_modules/nord/src/sass/nord.scss";
@import "./custom-theme";

html, body { height: 100%; }
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-color: var(--primary-lighter-color);
    font-weight: lighter;
 }

h1 {
   font-size: xx-large;
   font-weight: lighter;
 }

h2 {
   font-size: x-large;
   font-weight: lighter;
 }

h3 {
   font-size: larger;
   font-weight: lighter;
 }

 h4 {
   font-size: large;
   font-weight: lighter;
 }

 h5 {
   font-size: medium;
   font-weight: lighter;
 }

 h6 {
   font-size:small;
   font-weight: lighter;
 }

 p {
   font-weight: lighter;
   font-size: small;
 }

 .error-msg-text {
    color: var(--warn-color);
 }

 .small-vertical-margin {
   margin-top: 10px;
   margin-bottom: 10px;
}

.right-side-content {
   display: flex;
   justify-content: right;
}

.centered-text {
   text-align: center;
}

.flex-row {
   display: flex;
   flex-direction: row;
   align-items: center;
 }

 .centered-content {
   margin: auto;
   width: 95%;
   padding: 10px;
}