@import "../../../../node_modules/nord/src/sass/nord.scss";

.padded-icon {
  transform: scale(2.5);
  padding: 0 25px;
}

.header-title {
  margin-left: 20px;
  font-size: xx-large
}

.header {
  background-color: $nord2;
}